<div class='asset'>
  <video  preload='metadata' poster='<%= thumbnail %>'>
    <source src='<%= url %>' type='video/mp4'>
  </video>
  <div class='info'>
    <span class='username'>@<%= username %></span>
    <span class='likes'> <%= hearts %></span>
  </div>
</div>