<div class="item recent">
  <div class="caption">
    <a href="#" class='vote'>vote for this</a>
  </div>

  <img src="<%= source.source_url %>">

  <div class="subtitle">
    <span class="xleft name"><%= username %></span>

    <span class="xright votes">
      <%= hearts %><br/>
      <b>votes</b>
    </span>
  </div>
</div>
