<div class="item">
  <div class="subcontent">
    <div class="caption">
      <a href="#" class='vote'>vote for this</a>
    </div>

    <a href="#" class="modal-link">
      <img src="<%= source.source_url %>">
    </a>

    <div class="subtitle">
      <span class="xleft name"><%= username %></span>

      <span class="xright votes">
        <%= hearts %><br/>
        <b>votes</b>
      </span>
    </div>
  </div>
</div>
